@import "../import";

.text-styler {

    &, * {
        font-family: $font-roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        color: $color-text-dark;
        letter-spacing: -0.1px;

    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-roboto-cond;
        font-weight: normal;
        font-size: 24px;
        line-height: 22px;
        margin-bottom: 23px;
        display: block;
    }

    h2, h3 {
    }

    h4, h5, h6 {
    }

    p {
        margin-bottom: 18px;
    }

    a {
        color: $color-accent;
        text-decoration: underline;
        white-space: nowrap;
        &:hover {
            text-decoration: none;
        }
    }

    ul {
    }

    ol {
    }

    table {
    }

    strong, b {
        font-weight: bold;
    }

    em, i {
        font-style: italic;
    }

}
