<% var links = [{ title: "Главная", href: "/" }].concat(items); %>

<nav class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
    <% links.forEach(function(item, index) { %>
        <div class="breadcrumbs__item" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
            <% if ( item.href !== null ) { %>
                <a class="breadcrumbs__link" href="<%= item.href %>" itemprop="item">
                    <span itemprop="name"><%= item.title %></span>
                </a>
            <% } else { %>
                <span class="breadcrumbs__text" itemprop="item">
                    <span itemprop="name"><%= item.title %></span>
                </span>
            <% } %>
        </div>
    <% }) %>
</nav>
