</section>

<footer class="site__footer">
    footer
</footer>

<div class="site__scripts">
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- required script below -->
    <script src="js/script.bundle.js"></script>
</div>

</body>
</html>
