@import "@reset";
@import "@fonts";

/* ---- pages ---- */

html, body {
    height: 100%;
    min-height: 100%;
    font-family: $font-roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: 0.2px;
}

/* ---- libs ---- */

@import "imports/site";
@import "imports/text-styler";
