//$color-accent: #6B1385;
$color-accent: #6B1385;
$color-accent-light: #A704DC;

$color-bg-black: #000000;
$color-bg-dark: #1E1E2C;
$color-bg-light: #fff;
$color-bg-secondary: #f2f5f6;
$color-bg-dropdown: #252533;

$color-text-light: #fff;
$color-text-dark: #334150;
$color-text-meta: #BDBDBD;
$color-text-advantage: #575670;
$color-text-collections: #666;
$color-text-black: #000000;

$color-gradient-bg-1: rgba(255,217,231,1);
$color-gradient-bg-2: rgba(245,217,254,1);

$color-gradient-bg-ghost-1: rgba(255,217,231, 0.3);
$color-gradient-bg-ghost-2: rgba(245,217,254, 0.3);

$color-gradient-bright-1: #CD0364;
$color-gradient-bright-2: $color-accent-light;

$color-border-footer: rgba(255, 255, 255, 0.2);
$color-collection-underlayer: #000000;

$color-advantages-blow-1: #5F1F7B;
$color-advantages-blow-2: #84ABD9;
$color-advantages-bg: #000000;

$color-catalog-sortbar-title: #6F8398;
$color-catalog-inactive: #6F8398;
$color-catalog-interactive: #6F8398;
$color-catalog-loadmore-border: #E0E0E0;

$color-socials: #99A0A7;

$color-form-field-bg: #F4F4F4;

$burger-menu-decor-bg: #6F8398;
$burger-menu-arrow-color: #FFD9E7;