@import "@breakpoints";
@import "@fonts";
@import "@sizes";
@import "@colors";

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}

@mixin site-container {
    padding: 0 45px;
    @include desktop-min {
        padding: 0 20px;
    }
    @include tablet-small {
        padding: 0 40px;
    }
    @include mobile {
        padding: 0 20px;
    }
}

@mixin site-content {
    margin: 0 auto;
    max-width: 1200px;
    @include desktop-medium {
        max-width: 1140px;
    }
    @include desktop-min {
        max-width: 984px;
    }
    @include tablet-small {
        max-width: 688px;
    }
    @include mobile {
        max-width: none;
        padding: 0 20px;
    }
}

@mixin site-title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    color: $color-text-dark;
    @include desktop-medium {
        font-size: 42px;
        line-height: 42px;
    }
    @include tablet-small {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: normal;
    }
}

@mixin site-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-text-dark;
}

@mixin grid-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin grid-list-item {
    width: gridder(3, 2);
    flex: 0 0 gridder(3, 2);
    margin-right: gridder(0, 1);
    &:nth-child(4n) {
        margin-right: 0;
    }
    @include desktop-medium {
        width: gridder(3, 2, 'desktop-medium');
        flex: 0 0 gridder(3, 2, 'desktop-medium');
        margin-right: gridder(0, 1, 'desktop-medium');
    }
    @include desktop-min {
        width: gridder(3, 2, 'desktop-min');
        flex: 0 0 gridder(3, 2, 'desktop-min');
        margin-right: gridder(0, 1, 'desktop-min');
    }
    @include tablet-small {
        width: gridder(6, 5, 'tablet-small');
        flex: 0 0 gridder(6, 5, 'tablet-small');
        margin-right: gridder(0, 1, 'tablet-small');
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @include mobile {
        width: calc(50% - 9px);
        flex: 0 0 calc(50% - 9px);
        margin-right: 18px;
    }
    @include mobile-medium {
        width: 100%;
        flex: 0 0 auto;
        margin-right: 0;
    }
}

@mixin gradient-bg {
    background: $color-gradient-bg-ghost-1;
    background: -moz-linear-gradient(256.54deg, $color-gradient-bg-ghost-1 9.76%, $color-gradient-bg-ghost-2 95.01%);
    background: -webkit-linear-gradient(256.54deg, $color-gradient-bg-ghost-1 9.76%, $color-gradient-bg-ghost-2 95.01%);
    background: linear-gradient(256.54deg, $color-gradient-bg-ghost-1 9.76%, $color-gradient-bg-ghost-2 95.01%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color-gradient-bg-ghost-1}', endColorstr='#{$color-gradient-bg-ghost-2}', GradientType=0);
}

@mixin gradient-text {
    background: linear-gradient(233.97deg, #{$color-gradient-bright-1} 9.76%, #{$color-gradient-bright-2} 95.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-gradient-bg-1;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: transparent;
        color: $color-gradient-bright-2;
    }
}

@mixin wrap-fullsize {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@function gridder($columns, $gaps, $size: large) {
    @if $size==large or $size==lg {
        @return $columns * $grid-column+$gaps * $grid-gap;
    }
    @else if $size==desktop-medium or $size==dm {
        @return $columns * $grid-column-dm+$gaps * $grid-gap-dm;
    }
    @else if $size==desktop-min or $size==dmin {
        @return $columns * $grid-column-dmin+$gaps * $grid-gap-dmin;
    }
    @else if $size==tablet-small or $size==ts {
        @return $columns * $grid-column-ts+$gaps * $grid-gap-ts;
    }
    @else {
        @return 0;
    }
}
