$width-large-breakpoint: 1900;
$width-desktop-medium-breakpoint: 1640;
$width-desktop-breakpoint: 1400;
$width-desktop-min-breakpoint: 1280;
$width-laptop-breakpoint: 1180;
$width-tablet-large-breakpoint: 1024;
$width-tablet-breakpoint: 768;
$width-mobile-big: 640;
$width-mobile-medium: 480;
$width-mobile-small: 375;

$size-header-height: 60px;

$grid-column: 86.25px;
$grid-gap: 15px;
$grid-column-dm: 81.25px;
$grid-gap-dm: 15px;
$grid-column-dmin: 65.5px;
$grid-gap-dmin: 18px;
$grid-column-ts: 40.83px;
$grid-gap-ts: 18px;
